In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

# psicov
As of yet I don't know if these are indexed correctly or not. Though annoying, I'm indexing things from one for this project

In [3]:
psi_cols = ['aa1_loc', 'aa2_loc', 'trash1', 'trash2', 'couplings']
df_psi = pd.read_csv('../Data/test.psicov.out', sep=' ', header=None)
df_psi.columns = psi_cols
df_psi.sort_values(['aa1_loc','aa2_loc'], inplace=True)
df_psi.drop(['trash1', 'trash2'], axis=1, inplace=True)
assert all(df_psi['aa1_loc'] < df_psi['aa2_loc'])
print(df_psi.shape)
df_psi.head()

(4259, 3)

      aa1_loc  aa2_loc  couplings
1417        4       11   0.141667
2140        4       13  -0.018992
1913        4       17   0.026510
2586        4       18  -0.101950
2374        4       26  -0.064009

In [5]:
df_psi.to_csv('../Data/test.psicov.processed.out', index=False)

In [ ]:
zO2J*Hh90#7s

# plmc

In [7]:
df_plmc = pd.read_csv('../Data/test.plmc.out', sep=' ', header=None) 
plmc_cols = ['aa1_loc', 'trash1', 'aa2_loc', 'trash2', 'trash3', 'couplings']
df_plmc.columns = plmc_cols
df_plmc.drop(['trash1', 'trash2', 'trash3'], axis=1, inplace=True)
assert all(df_plmc['aa1_loc'] < df_plmc['aa2_loc'])
print(df_plmc.shape)
df_plmc.tail()

(18336, 3)

       aa1_loc  aa2_loc  couplings
18331      189      191   0.146689
18332      189      192   0.055470
18333      190      191   0.160212
18334      190      192   0.056634
18335      191      192   0.063483

In [8]:
df_plmc.to_csv('../Data/test.plmc.processed.out', index=False)

# ccmpred

In [9]:
df_ccm_pivot = pd.read_csv('../Data/test.ccmpred.out', sep='\t', header=None) 
df_ccm_pivot.drop(max(df_ccm_pivot.columns), axis=1, inplace=True)
df_ccm_pivot.values[[np.arange(max(df_ccm_pivot.columns)+1)]*2] = np.nan
print(df_ccm_pivot.shape)
df_ccm_pivot.head()

(192, 192)

,0,1,2,3,4,5,6,7,8,9,...,182,183,184,185,186,187,188,189,190,191
0,NaN,0.230095,0.245068,0.231563,0.174375,0.175616,0.170979,0.138065,0.120619,0.142017,...,0.120641,0.117982,0.124443,0.121796,0.119101,0.120191,0.121852,0.123840,0.121907,0.129479
1,0.230095,NaN,0.257935,0.222838,0.198324,0.211736,0.162777,0.144902,0.127502,0.137060,...,0.127269,0.124147,0.125096,0.125534,0.121571,0.116544,0.121615,0.119394,0.122804,0.116363
2,0.245068,0.257935,NaN,0.316771,0.243901,0.246523,0.175585,0.143158,0.149566,0.151508,...,0.130792,0.124972,0.122553,0.129179,0.133117,0.116671,0.134298,0.128650,0.129680,0.128831
3,0.231563,0.222838,0.316771,NaN,0.395903,0.334049,0.194335,0.146660,0.111863,0.169755,...,0.157687,0.137811,0.134096,0.123885,0.131324,0.118410,0.145247,0.130697,0.136759,0.131359
4,0.174375,0.198324,0.243901,0.395903,NaN,0.238773,0.274931,0.170736,0.156100,0.168540,...,0.131812,0.127619,0.135669,0.116619,0.134286,0.133513,0.132693,0.137514,0.131835,0.132678

In [10]:
df_ccm = df_ccm_pivot.where(np.triu(np.ones(df_ccm_pivot.shape)).astype(np.bool))
df_ccm= df_ccm.stack().reset_index()
df_ccm.reset_index(drop=True, inplace=True)
df_ccm.columns = ['aa1_loc', 'aa2_loc', 'couplings']
df_ccm['aa1_loc'] = df_ccm['aa1_loc'] + 1
df_ccm['aa2_loc'] = df_ccm['aa2_loc'] + 1

In [11]:
print(df_ccm.shape)
df_ccm.tail()

(18336, 3)

       aa1_loc  aa2_loc  couplings
18331      189      191   0.239987
18332      189      192   0.189563
18333      190      191   0.202980
18334      190      192   0.168387
18335      191      192   0.187289

In [12]:
df_ccm.to_csv('../Data/test.ccmpred.processed.out', index=False)